.ContactForm {
	display: flex;
	flex-direction: column;

	border-top: 1px solid #ccc;

	&-InputGroup {
		display: flex;
		flex-direction: column;
		margin-bottom: 1.5rem;
	}

	&-Input {
		margin: 0;
		padding: 0.5rem 1rem;

		font-size: 1rem;

		border: none;
		border-bottom: 1px solid #ccc;
		border-radius: 0 !important;
		box-sizing: border-box;
		outline: none !important;

		&_space {
			margin-top: 1.5rem;
		}
	}

	&-Button {
		margin-bottom: 0.5rem;
		padding: 0.5rem 1rem;

		font-size: 1rem;
		color: #2e7bf6;

		background: none;
		border: none;
		box-shadow: none;
		cursor: pointer;

		&_danger {
			color: #ec4f3f;
		}

		&:hover,
		&:active {
			opacity: 0.75;
		}
	}
}
